#footerMsg {
    color: var(--color2);
    font-size: 0.75rem;
}

#mediaLinks {
    display: flex;
    justify-content: center;
}

#mediaLinks > a {
    height: 2.5rem;
    width: 2.5rem;
    margin: 0.25rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 1.5rem;

    background-color: var(--color4);
    transition: 0.15s;
}

#mediaLinks > a:hover {
    background-color: var(--color3);
}

#mediaLinks > a:active {
    background-color: var(--color2);
}

#mediaLinks > a > * {
    height: 2rem;
    width: 2rem;
    
    color: var(--color1);
}