.defaultButton {
    height: 2.25rem;
    margin-bottom: 8px;
}

.timeButton {
    width: 10rem;
}

.timeButtonHalf {
    width: 5rem;
}

.confirmButton {
    width: 5rem;
}

.flexChild {
    flex: 1;
}