#footer {
    display: block;
    align-items: center;
    text-align: center;

    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
}

#footer > p {
    user-select: none;
    color: var(--color2);
    font-size: 14px;
    margin-top: 5px;
}

#mediaLinks {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.iconBg {
    display: flex;
    background-color: var(--color4);
    border-radius: 20px;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;

    margin: 5px;

    transition: 0.15s;
}

.iconBg:hover {
    background-color: var(--color3);
}

.iconBg:active {
    background-color: var(--color2);
}

.footerIcon {
    color: var(--color1);
    height: 30px;
    width: 30px;
}