.project {
    margin: 30px;

    height: 330px;
    width: 200px;
}

.project > img {
    /* height: 200px; */
    /* width: 200px; */
    height: 60%;
    width: 100%;
}

.projectName {
    background-color: black;
    color: white;
    height: 10%;
}

.projectDesc {
    background-color: black;
    color: white;

    height: 30%;
    width: 100%;

    margin-top: -20px;
}

.projectDesc > p {
    padding: 5px 10px 0px 10px;
    font-size: 14px;
}