.project {
    margin: 30px;
    height: 330px;
    width: 200px;
}

.project > img {
    height: 60%;
    width: 100%;
}

.projectName {
    background-color: black;
    color: #CDBADA;
    height: 10%;
}

.projectNameText {
    padding-top: 5px;
}

.projectDesc {
    background-color: black;
    color: #CDBADA;

    height: 30%;
    width: 100%;

    margin-top: -20px;
}

.projectDesc > p {
    padding: 5px 10px 0px 10px;
    font-size: 14px;
}