.dateButton {
    width: 1.75rem;
    height: 1.75rem;
    font-size: 0.6rem;
    text-align: center;

    border: none;
    
    color: black;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.15s;
}

.dateButtonNotMonth {
    color: rgb(157, 156, 156);
}

.dateButtonToday {
    background-color:rgb(73, 80, 123);
    color: white;
}

.dateButtonSelected {
    background-color: black;
    color: white;
}

.dateButton:hover {
    background-color: #000000a5;
    color: white;
}

.dateButton:active {
    background-color: black;
    color: white;
}

.changeMonthButton {
    border: none;
    color: black;
    background-color: transparent;

    border-radius: 50%;
}

.changeMonthButton:active {
    background-color: black;
    color: white;
}

.appointmentSection {
    display: flex;
}

.appointmentChild {
    flex: 1;
}