@import url('https://fonts.googleapis.com/css?family=Red+Rose');

:root {
    --color1: #252323;
    --color2: #A99985;
    --color3: #DAD2BC;
    --color4: #F5F1ED;
    --color5: #70798C;
}
/* Kanit, Delius Swash Caps, Red Rose */

html, body {
    height: 100%;
    background-color: var(--color1);
    font-family: 'Red Rose';
}

header {
    display: block;
    top: 0;
    height: 50px;
}

#modeButton {
    display: flex;
    justify-content: center;
    align-items: center;

    float: left;
    margin-top: 15px;
    margin-left: 15px;

    height: 32px;
    width: 32px;

    border-color: transparent;
    border-radius: 16px;
    transition: 0.15s;

    background-color: var(--color4);
}

#modeButton:hover {
    background-color: var(--color3);
}

#modeButton:active {
    background-color: var(--color2);
}

#meetingButton {
    float: right;
    margin-top: 15px;
    margin-right: 15px;

    height: 32px;
    width: 72px;

    border-color: transparent;
    border-radius: 16px;
    transition: 0.15s;

    background-color: var(--color4);
}

#meetingButton:hover {
    background-color: var(--color3);
}

#meetingButton:active {
    background-color: var(--color2);
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#intro h1,
#intro h2,
#intro p {
    user-select: none;
    margin-bottom: 20px;
    margin-top: 0;
}

#intro h1 {
    font-size: 72px;
    color: var(--color2)
}

#intro h2 {
    font-size: 20px;
    color: var(--color4);
}

#intro p {
    width: 600px;
    font-size: 18px;
    color: var(--color4);
}

#projectList {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}